@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #2B283A;
  font-family: Karla, sans-serif;
  color: #2B283A;
  line-height: 1.15;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
} 

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;;
  background: #F5F7FB;
  width: 40%;
  height: 70%;
  padding: 4rem;
}

.initial-board {
  text-align: center;
}
.btn {
  margin-top: 20px;
  font-size: medium;
  font-family: "Karla";
  background: #4D5B9E;
  border-radius: 15px;
  color: #fff;
  padding: 10px;
  border: none;
  width: 150px;
  height: 50px;
}

.question-block {
  color: #2B283A;
  margin: 15px;
}
.question {
  font-weight: 700;
}

.answers {
  margin: 10px;
  display: flex;
  flex-direction: row;
}