@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #2B283A;
  font-family: Karla, sans-serif;
  color: #2B283A;
  line-height: 1.15;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
} 

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F5F7FB;
  width: 40%;
  height: 50%;
  padding: 2rem;
}

.btn {
  background: #4D5B9E;
  border-radius: 15px;
  color: #fff;
  padding: 10px;
  border: none;
  width: 15%;
  height: 15%;
}