
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color:#2B283A
}

body {
  background-color: #6fb38d;
  font-family: Karla, sans-serif;
  color: #2B283A;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main {
  margin: .5em;
  padding: .6rem;
  background: #F5F7FB;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
  min-height: 95vh;
  width: 95vw;
}

.initial-board {
  text-align: center;
}

.game-board {
  height: 100%;
  display: flex;
  flex-direction: column;
 justify-content: space-evenly;
}

.question-block {
  margin-top: .6em;
  padding-bottom: .3em;
  border-bottom: #665f86 solid 1px;
}

.question {
  font-weight: 700;
}

.answers-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5em;
  margin-block: .5em;
}

.answer {
  padding: .1em .2em;
  border: 0.794239px solid #4D5B9E;
  border-radius: 6px;
  text-align: center;
}

.btn-box {
  margin-top: .5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.btn {
  font-family: inherit;
  background: #4D5B9E;
  border-radius: 6px;
  color: #fff;
  padding: .2em .6em;
  border: none;
}


.after-game {
  grid-column-start: 3/4;
}

.hidden {
  visibility: hidden;

}


.checked {
  background-color: #7484d1;
  border-color: #7484d1;
  color: white;
}

.correct {
  border-color: rgb(123, 194, 123);
  background-color: rgb(123, 194, 123);
  color:white;
}
.incorrect {
  border-color: rgb(230, 127, 127) ;;
  background-color: rgb(230, 127, 127) ;
  color:white;
}

.score {
  margin: 0;
}

footer {
  margin-top: .6rem;
  font-size: .7em;
  display: flex;
  justify-content: space-around;
}

footer:hover,
footer:focus {
  font-weight: 700;
}

.year {
  display: inline;
  margin-left: .2em;
}